*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-grey: hsl(210, 36%, 96%);
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-5: #49a6e9;
    --ff-primary: 'Roboto', sans-serif;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --transition: all 0.3s linear;
}

body{
    background-color: var(--clr-grey);
    font-family: var(--ff-primary);
    color: var(--clr-grey);
}

.section-selector{
    /* border: 2px solid palegreen; */
    width: 60wh;
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.section-selector h3{
    text-transform: uppercase;
    color: var(--clr-primary-2);
    margin-bottom: 0.75rem;
    font-size: 1.75rem;
    letter-spacing: var(--spacing);
}

.lorem-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
}

label{
    font-size: 1.2rem;
    color: var(--clr-primary-1);
}

input{
    padding: 0.25rem 0.5rem;
    width: 4rem;
    border-radius: var(--radius);
    border: none;
    margin: 0 0.5rem;
    font-size: 1.25rem;
}

.btn{
    text-transform: uppercase;
    background: var(--clr-primary-5);
    color: var(--clr-primary-1);
    padding: 0.375rem 0.75rem;
    letter-spacing: 1px;
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-primary-5);
    cursor: pointer;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
    border-radius: var(--radius);
    font-weight: 700;
}

.btn:hover{
    background: var(--clr-primary-1);
    color: var(--clr-primary-5);
    border: 2px solid var(--clr-primary-1);
}

.lorem-text{
    margin-bottom: 2rem;
    text-align: center;
    color: var(--clr-primary-1);
    padding-left: 10vw;
    padding-right: 10vw;
}

p{
    margin-bottom: 1.3rem;
}

@media screen and (min-width: 768px){
    .lorem-text{
        width: 60%;
        margin: 0 auto;
    }
}   